{{ define "main" }}
<style>
  .card-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr); /* 修改为一行四个 */
      gap: 40px; /* 卡片之间的间隙，可以根据需求调整 */
      justify-content: space-around; /* 优化内容在容器中的分布 */
      padding: 100px 500px; /* 增加水平方向的留白 */
  }

  .card {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 30px;
      transition: transform 0.2s;
      max-width: 300px; /* 设置卡片的最大宽度 */
      margin: auto; /* 自动居中 */
  }

  .card a {
      color: inherit;
      text-decoration: none;
  }

  .card:hover {
      transform: scale(1.05);
  }

  .card-title {
      font-size: 1.2em;
      margin-bottom: 5px;
  }

  .card-description {
      font-size: 0.9em;
      color: #666;
  }
</style>


<div class="card-container">
  {{ range .Paginator.Pages }}
    <a href="{{ .RelPermalink }}" class="card">
      <div class="card-content">
        <h3 class="card-title">{{ .Title }}</h3>
        <p class="card-description">{{ .Description | plainify }}</p>
      </div>
    </a>
  {{ end }}
</div>

<!-- 如果你还想在底部也有分页，可以再次引用分页模板，如下：
{{ partial "components/pagination.html" . }} -->

<!-- 将分页模板引用放在顶部 -->
{{ partial "components/pagination.html" . }}
{{ end }}

